@import "../App.scss";

select{
    height: 30px;
    
    margin: 15px;
    background-color: $primary;
    border-color: $secondary;
    option{
        background-color: $primary;
        border-color: $secondary;

    }
    &#league{
        width: 180px;
    }
    &#season{
        width: 250px;
    }
}